.outer{
  width:100%;
  background:red;
  padding:5%;
}

p{
  margin:100px;
}
.inner {
    width: 50%;
    height:650px;
    margin:0 auto;
    padding: 100px 10px 10px 10px;
    border-radius:15px;
  background: linear-gradient(to bottom, blue 50%, #d3d3d3 50%);
}
.form {
  background: #fff;
  width: 40%;
  margin: 185px;
  padding: 50px;
  text-align: center;
}
.form input {
  width: 100%;
  border:none;
  border-bottom:2px solid blue;
  margin: 0 0 20px;
  padding: 15px 0 0 5px;
  font-size: 15px;
}
 
.form button {
  width: 100%;
  border: 0;
  padding: 15px 15px;
  color: #fff;
  font-size: 20px;
  background-color:blue;
}

a{
  text-decoration:none;
  color:blue;
  font-size:20px;
}

#qwe{
  margin:5px 5px;
  color:#010101;
  font-size:16px
}
